.quiz-title {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quiz-stats {
    text-align: center;
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 50px;
}

.opening-heading {
    text-align: center;
    font-size: 36px;
}

.start-button {
    width: 150px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.hidden {
  display: none;
}

.answer-option {
  font-size: 24px;
  padding: 10px;
}

input[type="radio"]{
  margin: 10px 10px 10px 10px;
}

.restart-button {
  display: none;
}

.answers {
  text-align: center;
}

.submit-button {
  margin-top: 10px;
  height: 30px;
  width: 60px;
}

.question {
  text-align: center;
}

.answer-box {
  text-align: center;
  font-size: 32px;
  border: dotted grey 3px;
}

.next-button {
  width: 150px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.restart-button {
  width: 150px;
  height: 72px;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 50px;
}

@media only screen and (min-width: 720px) {
    .quiz-stats {
      text-align: right;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      position: relative;
      right: 50px;
      bottom: 100px;

    }

    .quiz-title {
      text-align: left;
      margin-left: 50px;
      display: inline-block;
    }
}